@using App.Domain.Core.TaskManager.TaskAggrigate.Entity

@model List<UserTask>

<div class="container mt-4">
    @{
        if (TempData["TaskNotFound"] is not null)
        {
            <div class="alert alert-info">@TempData["TaskNotFound"]</div>
        }
        else if (TempData["DeleteResult"] is not null){
            <div class="alert alert-Success">@TempData["TaskNotFound"]</div>
        }
    }
    
    <h2 class="text-center mb-4"> User Tasks List (@ViewBag.TaskCount)</h2>
    <table class="table table-striped table-bordered table-hover text-center align-middle">
        <thead class="table-dark">
            <tr>
                <th scope="col">#</th>
                <th scope="col">Title</th>
                <th scope="col">Descriptionr</th>
                <th scope="col">IsCompleted</th>
                <th scope="col">RegisterTime</th>
                <th scope="col">DeadTime</th>
                <th scope="col">Actions</th> 
            </tr>
        </thead>
        <tbody>
            @if (Model != null && Model.Any())
            {
                foreach (var item in Model)
                {
                    <tr>
                        <th scope="row">@item.Id</th>
                        <td>@item.Title</td>
                        <td>@item.Description</td>
                        <td>@item.IsCompleted</td>
                        <td>@item.RegisterTime </td>
                        <td>@item.DeadTime</td>
                        <td>
                             <a asp-controller="UserTask" asp-action="Update" asp-route-id="@item.Id" class="btn btn-warning btn-sm">Update</a>
                            <form asp-action="Delete" method="post" style="display:inline;"
                                  onsubmit="return confirm('Are you sure you want to delete this user?');">
                                <input type="hidden" name="id" value="@item.Id" />
                                <button type="submit" class="btn btn-danger btn-sm">Delete</button>
                            </form> 
                        </td>
                    </tr>
                }
            }
            else
            {
                <tr>
                    <td colspan="10" class="text-center text-danger">No Users Available.</td>
                </tr>
            }
        </tbody>
    </table>
</div>